<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>Dog Dashboard</h2>
    <a href="/dogs/new">Add Dog</a><br><br>
    <%for (var x of dogs){%>
        <p>Name:&nbsp;&nbsp;<%=x.name%></p>
        <p>Breed:&nbsp;&nbsp;<%=x.breed%></p>
        <p>Size:&nbsp;&nbsp;<%=x.size%></p>
        <a href="/dogs/edit/<%=x.id%>">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/dogs/destroy/<%=x.id%>">Delete</a>
        <hr>
        <%}%>
    
</body>
</html>